.footer__logo {
  max-width: 64px;
}

.footer__links {
  width: 75%;
  float: right;
}

.footer__bottom {
  width: 25%;
}

.footer__bottom>div {
  text-align: left;
}

.footer--dark {
  --ifm-footer-background-color: rgb(26, 28, 29);
  --ifm-footer-padding-vertical: 85px;
}

.footer__copyright {
  font-size: .8em;
  text-align: left;
}